:root {
    --font-base: "DM Sans", sans-serif;
  
  
    /* --font-base: 'Cormorant Upright', serif; */
    --font-alt: 'Open Sans', sans-serif;
  
    --font-base2: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    
    --color-golden: #DCCA87;
    --color-black: #0C0C0C;
    --color-gray: #545454;
    --color-crimson: #F5EFDB;
    --color-grey: #AAAAAA;
    --color-white: #FFFFFF;
  
  
  
  
  
  
    --primary-color: #4b2093;
    --secondary-color: #22730C;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
  }